name: Build and publish Docker images
on:
  workflow_dispatch:
  push:
    tags:
      - 'v**'

jobs:
  build:
    name: Docker images building and publishing
    runs-on: ubuntu-latest

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Clone repository
        uses: actions/checkout@v2

      - name: Change directory to repo clone
        run: cd $GITHUB_WORKSPACE

      - name: Build Linux image
        run: docker build \
              -f Dockerfile.linux \
              -t qt-build-linux-amd64-armhf \
              .

      - name: Build Windows image
        run: docker build \
              -f Dockerfile.windows \
              -t qt-build-windows-amd64 \
              .